## Function

- å‡½æ•¸ï¼šè¢«å‘¼å« (call) æ™‚ï¼Œæ‰æœƒé‹è¡Œçš„ç¨‹å¼ç¢¼ 
  
  `(A function is a code block which only runs when it is called.)`

  
- æˆ‘å€‘å¯ä»¥å°‡è³‡æ–™ï¼ˆåƒæ•¸ parameterï¼‰å‚³å…¥å‡½æ•¸

- å‡½æ•¸å¯ä»¥å›å‚³è³‡æ–™ä½œç‚ºçµæœ


<mark>å¯ä»¥æŠŠå‡½æ•¸æƒ³åƒæˆä¸€å€‹ Labï¼Œå®ƒç¨ç«‹æ–¼å¤–é¢ä¸–ç•Œçš„ç’°å¢ƒã€æœ‰è‡ªå·±çš„å·¥ä½œç©ºé–“</mark>
- å¤–é¢ç’°å¢ƒçš„äººå¯ä»¥å‚³è³‡æ–™é€² Labã€è«‹ Lab é‹ç®—ï¼›Lab å®Œæˆé‹ç®—ä¹‹å¾Œï¼Œå†æŠŠçµæœå›å‚³çµ¦å¤–é¢çš„äººã€‚
- å¦‚æœå¤–é¢çš„äººæ²’æœ‰å« Lab åšé‹ç®—ï¼ŒLab å°±ä¸æœƒé‹ä½œã€‚

In [3]:
# å‰µé€ å‡½æ•¸
# a function is defined using "def"

def my_function():
  print("é€™æ˜¯æˆ‘å‰µé€ çš„å‡½æ•¸ï¼Œä»–è² è²¬å°å‡ºé€™å¥è©±")

In [4]:
def func2():
  result = 1 + 2
  print("é€™æ˜¯å¦ä¸€å€‹å‡½æ•¸ï¼Œä»–è² è²¬å°å‡º 1 + 2 çš„çµæœ")
  print(result)

In [6]:
# å‘¼å«å‡½æ•¸
def my_function():
  a = 1 + 1
  print(a)
  print("é€™æ˜¯æˆ‘å‰µé€ çš„å‡½æ•¸ï¼Œä»–è² è²¬å°å‡ºé€™å¥è©±")

## é€™è£¡æ˜¯å‡½æ•¸çš„å¤–é¢ï¼ˆglobal scopeï¼‰
## å‘¼å«å‡½æ•¸çš„æ–¹å¼æ˜¯åœ¨å‡½æ•¸åç¨±å¾Œé¢åŠ ä¸Šå°æ‹¬è™Ÿ
my_function()

2
é€™æ˜¯æˆ‘å‰µé€ çš„å‡½æ•¸ï¼Œä»–è² è²¬å°å‡ºé€™å¥è©±

In [7]:
def my_function():
  print("æ˜å¤©å°±é€±äº”äº† è€¶")

In [8]:
my_function()
my_function()

æ˜å¤©å°±é€±äº”äº† è€¶
æ˜å¤©å°±é€±äº”äº† è€¶

## Argument

- è³‡æ–™å¯ä»¥ä½œç‚ºåƒæ•¸ (argument) å‚³éåˆ°å‡½æ•¸ä¸­ã€‚
  
- åƒæ•¸æ˜¯åœ¨å‡½æ•¸åç¨±å¾Œé¢çš„æ‹¬è™Ÿå…§æŒ‡å®šã€‚  
  - `def my_function(é€™è£¡æ”¾åƒæ•¸çš„åå­—):`
  
  - å¯ä»¥æ ¹æ“šéœ€è¦æ·»åŠ ä»»æ„æ•¸é‡çš„åƒæ•¸ï¼Œéœ€ç”¨é€—è™Ÿåˆ†éš”å®ƒå€‘ã€‚
  
- ä¸‹æ–¹çš„å‡½æ•¸å¸¶æœ‰åƒæ•¸ `name` 
  - å‘¼å«é€™å€‹å‡½æ•¸æ™‚ï¼Œæˆ‘å€‘éœ€è¦å‚³éä¸€å€‹åå­—ï¼ˆé¤µä¸€å€‹åå­—çµ¦å‡½æ•¸ï¼‰
  
  - è©²åå­—åœ¨å‡½æ•¸çš„å…§éƒ¨æœƒè¢«ä½œç‚º `name` ä¾†ä½¿ç”¨

In [9]:
## æœ‰1å€‹åƒæ•¸çš„å‡½æ•¸

def my_function(name):
  print('åå­—ï¼š', name)

my_function("é™³å“è€Œ")

åå­—ï¼š é™³å“è€Œ

In [3]:
my_function("é™³å“ä¸”")
my_function("ä¸”")

åå­—ï¼š é™³å“ä¸”
åå­—ï¼š ä¸”

In [11]:
## æœ‰2å€‹åƒæ•¸çš„å‡½æ•¸

def full(lastname, firstname):
  print('å…¨åï¼š')
  print(lastname, firstname)

In [12]:
full("ç‘ªå¡", "å·´å¡")

å…¨åï¼š
ç‘ªå¡ å·´å¡

In [13]:
full("çƒè¥¿", "è’‚è¥¿")

å…¨åï¼š
çƒè¥¿ è’‚è¥¿

In [15]:
# å¯ä»¥ä½¿ç”¨ key = value èªæ³•å‚³é€åƒæ•¸
# é€™æ¨£å°±ä¸éœ€æŒ‰ç…§é †åºæ’åˆ—

def my_function(lastname, firstname):
  print('æ™šå®‰', lastname + firstname)

In [17]:
my_function(firstname = "å·´å¡", lastname = "ç‘ªå¡")

æ™šå®‰ ç‘ªå¡å·´å¡

In [18]:
my_function(lastname = "ç‘ªå¡", firstname = "å·´å¡")

æ™šå®‰ ç‘ªå¡å·´å¡

<div><img src="https://pgw.udn.com.tw/gw/photo.php?u=https://uc.udn.com.tw/photo/2023/07/13/0/23183942.jpg&x=0&y=0&sw=0&sh=0&sl=W&fw=800&exp=3600&w=930&nt=1" width="450"></div>

In [19]:
## æœ‰é è¨­åƒæ•¸çš„å‡½æ•¸

def my_function(country = "Taiwan"):
  print("æˆ‘ä¾†è‡ª" + country)

In [20]:
my_function()

æˆ‘ä¾†è‡ªTaiwan

In [21]:
my_function("Japan")

æˆ‘ä¾†è‡ªJapan

<mark>å‚³é€ä»»ä½•è³‡æ–™é¡å‹çš„åƒæ•¸</mark>

ä»¥ä¸‹ç¯„ä¾‹ï¼Œæˆ‘å€‘å‚³é€ä¸€å€‹ <mark>åˆ—è¡¨</mark> çµ¦å‡½æ•¸

> åœ¨å¤–é¢ç’°å¢ƒæ™‚ï¼Œé€™å€‹åˆ—è¡¨æ˜¯ "global variable (å…¨åŸŸè®Šæ•¸)"

> ç•¶è¢«å‚³åˆ°å‡½æ•¸å…§éƒ¨æ™‚ï¼Œé€™å€‹åˆ—è¡¨æ˜¯ "local variable (å€åŸŸè®Šæ•¸)"
  
åœ¨ä»¥ä¸‹ç¯„ä¾‹ä¸­ï¼Œ
   - `food` æ˜¯å€åŸŸè®Šæ•¸ï¼Œåªå­˜åœ¨æ–¼å‡½æ•¸å…§éƒ¨ï¼Œä¸èƒ½åœ¨å‡½æ•¸å¤–é¢ä½¿ç”¨ `food`
   - `food` æœ‰é»åƒ `wishlist` åœ¨å‡½æ•¸å…§é‹ä½œçš„ä»£è™Ÿ
   - ç•¶å‡½æ•¸çµæŸæ™‚ï¼Œ`food` é€™å€‹ä»£è™Ÿä¹Ÿè·Ÿè‘—æ¶ˆå¤±

In [22]:
def printMyWishlist(food):
  for x in food:
    print(x)

In [17]:
wishlist = ["èŠ‹ä¸¸", "èŠ‹é ­é…¥", "èŠ‹æ³¥åƒå±¤"]

printMyWishlist(wishlist)

èŠ‹ä¸¸
èŠ‹é ­é…¥
èŠ‹æ³¥åƒå±¤

In [23]:
food
# é€™è£¡æœƒå‡ºç¾éŒ¯èª¤ï¼Œå› ç‚º food æ˜¯åœ¨å‡½æ•¸è£¡é¢å®šç¾©çš„è®Šæ•¸

NameError: name 'food' is not defined

In [24]:
## é€™å€‹å‡½æ•¸éœ€è¦å‚³é€ä¸€å€‹å­—å…¸
def try_dictionary(food):
  for key, value in food.items():
    print(key, 'æœ‰', value, 'å€‹')

In [ ]:
wish_dict = {'è˜‹æœ':1, 'é¦™è•‰':2,'æ©˜å­':3}

try_dictionary(wish_dict)

è˜‹æœ æœ‰ 1 å€‹
é¦™è•‰ æœ‰ 2 å€‹
æ©˜å­ æœ‰ 3 å€‹

**ä¸Šé€±ä½œæ¥­å¦‚æœæœ‰ `å¾ˆå¤šå€‹gradeså­—å…¸`çš„è©±ï¼Œå–®ç”¨è¿´åœˆæœƒå¯«å¾ˆå¤šcodeï¼Œæ‰€ä»¥éœ€è¦å¯«å€‹å‡½æ•¸**

In [1]:
grades = {
    "Richard": [60, 0, 45, -1],
    "Una": [100, 99, 101, 100],
    "Linda": [99, 100, 99, 100],
}

grades2 = {
    "A": [60, 0, 45, -1],
    "B": [100, 99, 101, 100],
    "C": [99, 100, 99, 100],
}

grades3 = {
    "aaa": [60, 0, 45, -1],
    "bbb": [100, 99, 101, 100],
    "ccc": [99, 100, 99, 100],
}

In [2]:
# å®šç¾©ä¸€å€‹å‡½æ•¸ï¼Œç”¨ä¾†å°"å–®å€‹å­—å…¸"çš„å…§å®¹
def print_grades(grades_input):
  for key, value in grades_input.items():
    print(key, 'çš„æˆç¸¾æ˜¯', value)
    print("===")


## æŠŠ grades, grades2, grades3 æ”¾é€²ä¸€å€‹å¤§list
## å†ç”¨ for è¿´åœˆï¼ŒæŠŠæ¯ä¸€å€‹ gradeå­—å…¸ éƒ½å‚³å…¥å‡½æ•¸ print_grades() 
for g in [grades, grades2, grades3]:
  print_grades(g)

Richard çš„æˆç¸¾æ˜¯ [60, 0, 45, -1]
===
Una çš„æˆç¸¾æ˜¯ [100, 99, 101, 100]
===
Linda çš„æˆç¸¾æ˜¯ [99, 100, 99, 100]
===
A çš„æˆç¸¾æ˜¯ [60, 0, 45, -1]
===
B çš„æˆç¸¾æ˜¯ [100, 99, 101, 100]
===
C çš„æˆç¸¾æ˜¯ [99, 100, 99, 100]
===
aaa çš„æˆç¸¾æ˜¯ [60, 0, 45, -1]
===
bbb çš„æˆç¸¾æ˜¯ [100, 99, 101, 100]
===
ccc çš„æˆç¸¾æ˜¯ [99, 100, 99, 100]
===

<mark>å‡½æ•¸å›å‚³å€¼</mark>

å‰é¢æéï¼Œå¯ä»¥æŠŠå‡½æ•¸æƒ³åƒæˆä¸€å€‹ Labï¼Œå®ƒç¨ç«‹æ–¼å¤–é¢ç’°å¢ƒã€æœ‰è‡ªå·±çš„å·¥ä½œç©ºé–“ï¼š
- å¤–é¢çš„äººå¯ä»¥ä¸Ÿè³‡æ–™é€² Lab `ï¼ˆå‚³éåƒæ•¸ï¼‰`
- å« Lab é‹ç®— `ï¼ˆå‘¼å«å‡½æ•¸ä¸¦é‹è¡Œï¼‰`
- Lab å®Œæˆé‹ç®—ä¹‹å¾Œï¼Œå†æŠŠçµæœå›å ±çµ¦å¤–é¢çš„äºº `ï¼ˆreturn å›å‚³å€¼ï¼‰`

In [25]:
def pingfang(x):
  result =  x ** 2

  return result

In [30]:
x = pingfang(5)

In [28]:
x

25

In [31]:
# æŠŠå›å‚³çš„çµæœå­˜åˆ°ä¸€å€‹è®Šæ•¸è£¡é¢ï¼Œä»¥ä¾¿ä¹‹å¾Œä½¿ç”¨
first = pingfang(9)  # 81

second = first + 1000

print(second)

1081

### ğŸŒğŸŒ ç½é•å…©é€±çš„èª²å ‚ç·´ç¿’ ğŸŒğŸŒ

1. è¨­è¨ˆä¸€å€‹å‡½æ•¸ `total_price()`ï¼Œä¾†è¨ˆç®—å–®ç¨®æ°´æœç¸½åƒ¹
- è˜‹æœä¸€æ–¤ 100 å…ƒï¼Œæˆ‘è²·äº† 2 æ–¤
- æ©˜å­ä¸€æ–¤ 50 å…ƒï¼Œæˆ‘è²·äº† 3 æ–¤
- <mark>è¨˜å¾—æ”¹ print() çš„å…§å®¹ï¼Œå°å‡ºå…©ç¨®æ°´æœå„è‡ªçš„é‡‘é¡</mark>

In [32]:
def total_price(price, quantity):
  result = price * quantity
  return result

print('è˜‹æœç¸½é‡‘é¡æ˜¯ï¼š', total_price(100, 2))
print('æ©˜å­ç¸½é‡‘é¡æ˜¯ï¼š', total_price(50, 3))

è˜‹æœç¸½é‡‘é¡æ˜¯ï¼š 200
æ©˜å­ç¸½é‡‘é¡æ˜¯ï¼š 150

2. è¨­è¨ˆä¸€å€‹å‡½æ•¸ `check()`ï¼Œä¾†æª¢æŸ¥ç‰¹å®šå­—ä¸²åŒ…å«çš„å…ƒç´ 

  æˆ‘å€‘æœ‰åˆ—è¡¨  `mylist = ['aaaa', 'rrr', '123']`ï¼Œè«‹ä¾åºæŠŠåˆ—è¡¨ä¸­çš„å­—ä¸²åˆ°å‡½æ•¸ã€‚

  å‡½æ•¸è¦æ±‚ï¼š
   - åŒ…å« `a`ã€`b`ã€`c` ä»»ä¸€å€‹å­—æ¯çš„è©±ï¼Œå‡½æ•¸å›å‚³ 'åŒ…å«abc'
   - åŒ…å« ä»»æ„æ•¸å­— çš„è©±ï¼Œå‡½æ•¸å›å‚³ 'åŒ…å«æ•¸å­—'
   - å…¶ä»–æƒ…æ³ï¼Œå‡½æ•¸è¦å›å‚³ 'éƒ½æ²’æœ‰'

æŠŠ 3 æ¬¡å›å‚³çš„çµæœå­˜åˆ°åˆ—è¡¨ `result_list` ä¸­ï¼Œä¸¦å°å‡º `result_list`ã€‚

In [33]:
!pip install regex

Requirement already satisfied: regex in /Users/cckk2913/miniforge3/lib/python3.10/site-packages (2023.8.8)

In [34]:
import re
'''é€™å€‹å¥—ä»¶ï¼ˆregular expressionï¼‰å¯ä»¥å¹«æˆ‘å€‘è™•ç†æ–‡å­—
re.search() å¯ä»¥æœå°‹å­—ä¸²è£¡é¢ï¼Œæœ‰æ²’æœ‰æˆ‘å€‘è¦æ‰¾çš„æŸå€‹æ±è¥¿'''


## åœ¨é€™è£¡å®šç¾©å‡½æ•¸
def check(text):
  if re.search(r'[abc]', text):
    return 'åŒ…å«abc'
  elif re.search(r'[0-9]', text):
    return 'åŒ…å«æ•¸å­—'
  else:
    return 'æ²’æœ‰abcï¼Œä¹Ÿæ²’æœ‰æ•¸å­—'
    
    


## ç”¨è¿´åœˆéæ­· mylistï¼Œä¾åºæŠŠä¸‰å€‹å­—ä¸²å‚³çµ¦ check() 
## æ¯æ¬¡çš„å›å‚³çµæœè¦åŠ å…¥ result_list 


mylist = ['aaaa', 'rrr', '123']

result_list = []

for m in mylist:
  result = check(m)
  result_list.append(result)
  

print(result_list)

['åŒ…å«abc', 'æ²’æœ‰abcï¼Œä¹Ÿæ²’æœ‰æ•¸å­—', 'åŒ…å«æ•¸å­—']

## Pandas

å…ˆäº†è§£ <mark>package</mark> çš„æ¦‚å¿µï¼š

- Python çš„å¥—ä»¶ï¼ˆpackageï¼‰æ˜¯ä¸€ç¨®ç”¨æ–¼çµ„ç¹”å’Œç®¡ç†ç¨‹å¼ç¢¼çš„æ–¹å¼ã€‚å®ƒæ˜¯ä¸€å€‹åŒ…å«å¤šå€‹æ¨¡çµ„ï¼ˆmoduleï¼‰çš„ç›®éŒ„ï¼Œé€™äº›æ¨¡çµ„çš„é‹è¡Œé€šå¸¸ç›¸é—œè¯ã€‚
- package æ˜¯ç‚ºäº†çµæ§‹åŒ–ã€å°‡ç›¸é—œåŠŸèƒ½çµ„åœ¨ä¸€èµ·ï¼Œä»¥ä¾¿ç¶­è­·å’Œç®¡ç†ç¨‹å¼ã€‚
- å‰›é–‹å§‹å­¸ Python æ™‚ï¼Œç”¨Pythonå…§å»º ï¼†åˆ¥äººå¯«çš„ package å°±éå¸¸è¶³å¤ äº† ğŸ˜‰
      <div><img src="https://drive.google.com/uc?id=1B_4HOJhvXtH6ehkimOtgOiXAI1jhN3Q3" width="200"/> </div>

<mark>å¾ä¾†æ²’æœ‰ç”¨éçš„å¥—ä»¶/æ¨¡çµ„ï¼Œè¦å…ˆå®‰è£</mark>

1. æ‰“é–‹ç­†é›»çš„çµ‚ç«¯æ©Ÿæˆ–cmd

2. è¼¸å…¥ä»¥ä¸‹å‘½ä»¤ï¼Œç„¶å¾ŒæŒ‰EnteréµåŸ·è¡Œï¼š

      `pip install pandas`

      <div><img src="./images/pip_install.jpg" width="400"></div>
      

3. pip æœƒå°‡ pandas å®‰è£åˆ°ä½ çš„Pythonç’°å¢ƒä¸­ï¼Œä½ å°±å¯ä»¥åœ¨ç¨‹å¼ä¸­ä½¿ç”¨ pandas
   
4. å¯ä»¥åœ¨çµ‚ç«¯æ©Ÿè¼¸å…¥ä»¥ä¸‹å‘½ä»¤ï¼Œæª¢æŸ¥ pandas æ˜¯å¦å®‰è£ï¼š

      `pip show pandas`ï¼Œå¦‚æœå®‰è£æˆåŠŸï¼Œå®ƒæ‡‰è©²æœƒè¼¸å‡ºpandasçš„ç‰ˆæœ¬ç·¨è™Ÿ

      <div><img src="./images/pip_show_pandas.jpg" width="450"></div>


---
<mark>Pandas</mark>

- ä¸€å€‹å¼·å¤§çš„Pythonæ•¸æ“šè™•ç†å’Œåˆ†æåº«ï¼Œæä¾›äº†æ˜“ä½¿ç”¨çš„æ•¸æ“šçµæ§‹å’Œæ•¸æ“šåˆ†æå·¥å…·ï¼Œå»£æ³›ç”¨æ–¼æ©Ÿå™¨å­¸ç¿’ã€çµ±è¨ˆæ‘˜è¦ã€æ•¸æ“šå¯è¦–åŒ–ç­‰é ˜åŸŸ

- Pandas çš„å…©ç¨®ä¸»è¦æ•¸æ“šçµæ§‹
    - Series æ˜¯ä¸€ç¶­æ•¸æ“šçµæ§‹ï¼Œé¡ä¼¼æ–¼ä¸€ç¶­é™£åˆ—ï¼Œä½†æ¯å€‹å…ƒç´ éƒ½æœ‰ä¸€å€‹æ¨™ç±¤ï¼Œç¨±ç‚ºç´¢å¼•
  
    - DataFrame æ˜¯äºŒç¶­æ•¸æ“šçµæ§‹ï¼Œé¡ä¼¼æ–¼è¡¨æ ¼æˆ–è©¦ç®—è¡¨ï¼Œç”±å¤šå€‹ Series çµ„æˆ

- å¯è®€å–å’Œå¯«å…¥ CSVã€Excelã€SQL æ•¸æ“šåº«ã€JSON ç­‰ç­‰æª”æ¡ˆæ ¼å¼

- èƒ½é€²è¡Œè™•ç†ç¼ºå¤±/é‡è¤‡æ•¸æ“šã€æ•¸æ“šç¯©é¸ã€æ•¸æ“šè½‰æ›ç­‰æ“ä½œ

In [35]:
# ä¹Ÿå¯ä»¥åªåœ¨é€™å€‹ .ipynb å®‰è£ç‰¹å®šå¥—ä»¶

!pip install pandas

Requirement already satisfied: pandas in /Users/cckk2913/miniforge3/lib/python3.10/site-packages (2.0.3)
Requirement already satisfied: pytz>=2020.1 in /Users/cckk2913/miniforge3/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/cckk2913/miniforge3/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/cckk2913/miniforge3/lib/python3.10/site-packages (from pandas) (1.23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/cckk2913/miniforge3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/cckk2913/miniforge3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
'''
!pip å’Œ!pip3 æ˜¯åœ¨å‘½ä»¤åˆ—æˆ–çµ‚ç«¯æ©Ÿçš„æŒ‡ä»¤ï¼Œç”¨æ–¼åŸ·è¡ŒPythonå¥—ä»¶ç®¡ç†å·¥å…· pip çš„æ“ä½œã€‚ä¸»è¦å€åˆ¥æ˜¯å®ƒå€‘ä½¿ç”¨çš„Pythonç‰ˆæœ¬ã€‚

     !pip: é€™æ˜¯é è¨­ä½¿ç”¨çš„å‘½ä»¤ï¼Œé€šå¸¸èˆ‡ç³»çµ±é è¨­çš„ Python 2 ç‰ˆæœ¬é—œè¯ã€‚ å¦‚æœä½ åœ¨çµ‚ç«¯æ©Ÿä¸­ä½¿ç”¨ !pip install package_nameï¼Œå°±æ˜¯ä½¿ç”¨ Python 2.x çš„ pip ä¾†å®‰è£å¥—ä»¶ã€‚

     !pip3: é€™æ˜¯é‡å° Python 3.x ç‰ˆæœ¬çš„ pip æŒ‡ä»¤ã€‚ å¦‚æœä½ åœ¨çµ‚ç«¯æ©Ÿä¸­ä½¿ç”¨ !pip3 install package_nameï¼Œå°±æ˜¯ä½¿ç”¨ Python 3.x çš„ pip ä¾†å®‰è£å¥—ä»¶ã€‚

 ä½¿ç”¨å“ªå€‹æŒ‡ä»¤å–æ±ºæ–¼ä½ çš„ç³»çµ±å’Œ Python ç’°å¢ƒã€‚
 å¦‚æœä½ çš„ç³»çµ±é è¨­çš„æ˜¯ Python 3.xï¼Œå¯èƒ½å°±ä¸éœ€ä½¿ç”¨ !pip3ï¼Œä½ å¯ä»¥ç›´æ¥ä½¿ç”¨ !pipã€‚ä½†å¦‚æœä½ åŒæ™‚å®‰è£äº†å¤šå€‹ Python ç‰ˆæœ¬ï¼Œæˆ–è€…ä½ æ˜ç¢ºå¸Œæœ›ä½¿ç”¨ Python 3.x ç‰ˆæœ¬ï¼Œé‚£éº¼æœ€å¥½ä½¿ç”¨ !pip3 ä¾†ç¢ºä¿ä½ æ“ä½œçš„æ˜¯æ­£ç¢ºçš„ Python 3.x ç’°å¢ƒã€‚
'''

**å‰µé€ ä¸€å€‹ Series (s)**

- Pandasä¸­çš„ Series å°±åƒè©¦ç®—è¡¨çš„ä¸€ç›´æ¬„/ä¸€æ©«åˆ—
- æ˜¯ä¸€ç¶­æ•¸çµ„ï¼Œå¯ä»¥å­˜ä»»ä½•é¡å‹è³‡æ–™

In [36]:
# é€šå¸¸åœ¨ç¨‹å¼ç¢¼çš„é–‹é ­æœƒå…ˆå°å…¥"æ‰€æœ‰"éœ€è¦çš„æ¨¡çµ„
# é€™æ¨£æ‰èƒ½ä½¿ç”¨æ¨¡çµ„è£¡çš„å‡½æ•¸ï¼ˆå¾ŒçºŒä¸ç”¨ä¸€ç›´importï¼‰

import pandas as pd

In [37]:
a = ["KFC", "éº¥ç•¶å‹", "é ‚å‘±å‘±"]

myvar = pd.Series(a)

myvar

0    KFC
1    éº¥ç•¶å‹
2    é ‚å‘±å‘±
dtype: object

In [ ]:
# å¦‚æœæ²’æœ‰ç‰¹åˆ¥æŒ‡å®šï¼Œå‰‡ Series ä¸­çš„å€¼æœƒä½¿ç”¨ç´¢å¼•è™Ÿç•¶ä½œæ¨™ç±¤
# ç¬¬ä¸€å€‹å€¼çš„ç´¢å¼•ç‚º 0ï¼Œç¬¬äºŒå€‹å€¼çš„ç´¢å¼•ç‚º 1ï¼Œä¾æ­¤é¡æ¨
# å¯ä½¿ç”¨ç´¢å¼•æ¨™ç±¤ä¾†å–å¾— Series ä¸­çš„å€¼

a = ["KFC", "éº¥ç•¶å‹", "é ‚å‘±å‘±"]

myvar = pd.Series(a)

myvar[2]

'é ‚å‘±å‘±'

### **å‰µé€ ä¸€å€‹ DataFrame (df)**

- DataFrameæ˜¯2ç¶­çš„è³‡æ–™çµæ§‹
- Series å°±åƒä¸€ç›´æ¬„/æ©«åˆ—ï¼ŒDataFrame å°±åƒä¸€æ•´å€‹è©¦ç®—è¡¨
- <div><img src="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*6p6nF4_5XpHgcrYRrLYVAw.png" width="600"></div>

In [38]:
# ç”¨ list å‰µé€  DF

data = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data)
df

   0
0  a
1  b
2  c
3  d
4  e

In [84]:
# ç”¨ 2ç¶­çš„list å‰µé€  DF

data = [['KFC', 5], ['éº¥ç•¶å‹', 22], ['é ‚å‘±å‘±', 1]]

df = pd.DataFrame(data)
df

     0   1
0  KFC   5
1  éº¥ç•¶å‹  22
2  é ‚å‘±å‘±   1

In [39]:
# ç”¨ 2ç¶­çš„list å‰µé€  DFï¼Œä¸¦æŒ‡å®šæ¬„ä½åç¨±

data = [['KFC', 5], ['éº¥ç•¶å‹', 22], ['é ‚å‘±å‘±', 1]]

df = pd.DataFrame(data, 
                  columns = ['åå­—', 'åˆ†åº—æ•¸é‡'])
df

    åå­—  åˆ†åº—æ•¸é‡
0  KFC     5
1  éº¥ç•¶å‹    22
2  é ‚å‘±å‘±     1

In [40]:
# ç”¨ dict å‰µé€  DF
## å­—å…¸çš„ key æœƒè®Šæˆæ¬„ä½åç¨±ï¼Œvalue å‰‡æ˜¯æ¬„ä½çš„å€¼

data = {
  'school': ["å°å¤§", "æ¸…å¤§", "é™½æ˜äº¤å¤§","æˆå¤§"],
  'year': [1928, 1925, 2021, 1931]
}

df = pd.DataFrame(data)
df

  school  year
0     å°å¤§  1928
1     æ¸…å¤§  1925
2   é™½æ˜äº¤å¤§  2021
3     æˆå¤§  1931

### DF æª¢è¦–è³‡æ–™

In [41]:
data = {
  'school': ["å°å¤§", "æ¸…å¤§", "é™½æ˜äº¤å¤§","æˆå¤§"],
  'year': [1928, 1925, 2021, 1931]
}

df = pd.DataFrame(data)
df

  school  year
0     å°å¤§  1928
1     æ¸…å¤§  1925
2   é™½æ˜äº¤å¤§  2021
3     æˆå¤§  1931

In [42]:
# çœ‹é€™å€‹ df çš„ columns
df.columns

Index(['school', 'year'], dtype='object')

In [43]:
# çœ‹é€™å€‹ df çš„ indexes
df.index

RangeIndex(start=0, stop=4, step=1)

**å–å¾—å–®ä¸€å€‹å€¼**

In [46]:
# .iloc[] é€éæ•´æ•¸ä½ç½®å­˜å–å€¼ï¼ˆindexæ˜¯[ç¬¬å¹¾åˆ—][ç¬¬å¹¾æ¬„]
print(df.iloc[2][1])

# .loc[] é€éæ¨™ç±¤å­˜å–å€¼
## é€™è£¡æˆ‘å€‘è¦å–å¾— æ¨™ç±¤ç‚º0çš„æ©«åˆ— å’Œ æ¨™ç±¤ç‚º'school'çš„ç›´æ¬„ çš„é‚£æ ¼value
print(df.loc[0]['school'])

# .iat[] èˆ‡ iloc[] é¡ä¼¼ï¼Œä½†å­˜å–å–®ä¸€å€¼çš„é€Ÿåº¦æ›´å¿«
print(df.iat[0,0])

# .at[]` èˆ‡ loc[] é¡ä¼¼ï¼Œä½†å­˜å–å–®ä¸€å€¼çš„é€Ÿåº¦æ›´å¿«
print(df.at[0,'school'])

2021
å°å¤§
å°å¤§
å°å¤§

**å–å¾—å¤šå€‹å€¼**

In [47]:
# å­˜å–ä¸€æ•´å€‹æ©«åˆ— row 0
df.iloc[0]

school      å°å¤§
year      1928
Name: 0, dtype: object

In [121]:
# å­˜å–ä¸€æ•´å€‹ç›´æ¬„ column 'school'
df['school']

0      å°å¤§
1      æ¸…å¤§
2    é™½æ˜äº¤å¤§
3      æˆå¤§
Name: school, dtype: object

In [122]:
# ä½ ä¹Ÿå¯ä»¥é€™æ¨£å–å¾—ä¸€æ•´å€‹ç›´æ¬„
df.loc[:,'school']

0      å°å¤§
1      æ¸…å¤§
2    é™½æ˜äº¤å¤§
3      æˆå¤§
Name: school, dtype: object

 `df['school']` and `df.loc[:,'school']`éƒ½å¯ä»¥å­˜å– 'school' é€™ä¸€ç›´æ¬„ (column)ï¼Œ<mark>ä½†ä»–å€‘æœ‰å¾®å¦™çš„å·®ç•°ã€‚</mark>

`df['school']` 

- å­˜å– DataFrame ä¸­å–®å€‹columnçš„ç°¡æ½”å¸¸ç”¨æ–¹æ³•ï¼Œæœƒå›å‚³ä¸€å€‹ Series 
        
- æƒ³å­˜å–å–®å€‹columnã€ç„¡éœ€ç‰¹å®šçš„æ¢ä»¶ç¯©é¸æ™‚ï¼Œç”¨é€™å€‹æ¯”è¼ƒç°¡æ½”


`df.loc[:,'school']`
        
- .loc æ–¹æ³•ï¼Œä¸»è¦ç”¨åœ¨æ¨™ç±¤ç´¢å¼•ï¼Œå’Œ`df['school']`ä¸€æ¨£å›å‚³ä¸€å€‹ Series
        
- `[:,'school']` æœƒå­˜å– 'school' æ¬„ä½çš„æ‰€æœ‰å€¼ï¼Œæ˜¯ç”¨å†’è™Ÿï¼ˆ:ï¼‰é¸æ“‡è©²æ¬„ä½çš„æ‰€æœ‰row 
        
- åŸºæ–¼æŸäº›æ¢ä»¶ä¾†å­˜å–ç‰¹å®š column æ™‚æ¯”è¼ƒæœ‰ç”¨


---

<div><img src="https://i.imgur.com/zfxLzEv.png" width="600"></div>

---

### ç·´ç¿’: ä»¥ä¸‹åˆ†åˆ¥æœƒè¼¸å‡ºä»€éº¼

In [49]:
data = {
  'school': ["å°å¤§", "æ¸…å¤§", "é™½æ˜äº¤å¤§","æˆå¤§"],
  'year': [1928, 1925, 2021, 1931],
  'eng': ['ntu', 'nthu', 'nycu', 'ncku']
}

df = pd.DataFrame(data)
df

  school  year   eng
0     å°å¤§  1928   ntu
1     æ¸…å¤§  1925  nthu
2   é™½æ˜äº¤å¤§  2021  nycu
3     æˆå¤§  1931  ncku

In [50]:
df.iloc[1, :]

school      æ¸…å¤§
year      1925
eng       nthu
Name: 1, dtype: object

In [51]:
df.loc[1, :]

school      æ¸…å¤§
year      1925
eng       nthu
Name: 1, dtype: object

In [52]:
df.iloc[:, 1]

0    1928
1    1925
2    2021
3    1931
Name: year, dtype: int64

In [53]:
df.loc[:, 1]

KeyError: 1

æ‹œè¨—ä¸€å®šè¦çœ‹ï¼š

- [.loc() å’Œ .iloc() çš„å·®åˆ¥](https://chat.openai.com/share/10dd897b-89cc-40a2-8ef7-c41818a18148)

- [.loc .iloc .at .iat .ix](https://chat.openai.com/share/f40d1441-1c8f-4284-be4c-fddd4b9a4e9b)

---

### DF æ–°å¢è³‡æ–™

In [60]:
data = {
  'school': ["å°å¤§", "æ¸…å¤§", "é™½æ˜äº¤å¤§","æˆå¤§"],
  'year': [1928, 1925, 2021, 1931]
}

df = pd.DataFrame(data)
df

  school  year
0     å°å¤§  1928
1     æ¸…å¤§  1925
2   é™½æ˜äº¤å¤§  2021
3     æˆå¤§  1931

**æ–°å¢ä¸€ç›´æ¬„ column**

In [61]:
# åŠ å…¥æ–°çš„ä¸€æ¬„['location'] åˆ° df

mylist = ['å°åŒ—', 'æ–°ç«¹', 'æ–°ç«¹', 'å°å—']
df['location'] = mylist
df

  school  year location
0     å°å¤§  1928       å°åŒ—
1     æ¸…å¤§  1925       æ–°ç«¹
2   é™½æ˜äº¤å¤§  2021       æ–°ç«¹
3     æˆå¤§  1931       å°å—

In [ ]:
## ç•¶ç„¶ä½ ä¹Ÿå¯ä»¥ç›´æ¥æŠŠ list å¯«çµ¦ df['location']
## df['location'] = ['å°åŒ—', 'æ–°ç«¹', 'æ–°ç«¹', 'å°å—']

In [62]:
# åˆªé™¤ä¸€æ¬„
del df['location']
df

  school  year
0     å°å¤§  1928
1     æ¸…å¤§  1925
2   é™½æ˜äº¤å¤§  2021
3     æˆå¤§  1931

**æ–°å¢ä¸€æ©«åˆ—**

In [129]:
data = {
  'school': ["å°å¤§", "æ¸…å¤§", "é™½æ˜äº¤å¤§","æˆå¤§"],
  'year': [1928, 1925, 2021, 1931]
}

df = pd.DataFrame(data)
df

  school  year
0     å°å¤§  1928
1     æ¸…å¤§  1925
2   é™½æ˜äº¤å¤§  2021
3     æˆå¤§  1931

In [131]:
# loc
df.loc[len(df)] = ['æ–°æ ¡', 2023]
df

  school  year
0     å°å¤§  1928
1     æ¸…å¤§  1925
2   é™½æ˜äº¤å¤§  2021
3     æˆå¤§  1931
4     æ–°æ ¡  2023

In [ ]:
# concat: çµåˆå…©å€‹ df ï¼ˆæˆ‘å€‘æŠŠæ–°çš„row ç›´æ¥è®Šæˆä¸€å€‹åªæœ‰ä¸€åˆ—è³‡æ–™çš„df)

new_row = pd.DataFrame({'school': ['NTU'], 'year': [1928]})
df = pd.concat([df, new_row], ignore_index=True)

In [132]:
# _append
''' 
In the new version of Pandas, the `append` method is changed to `_append`
The `ignore_index=True` argument ensures that the index of the newly added row is reset to maintain a continuous integer index.
'''

new_row = {'school': 'æ–°æ–°æ ¡', 'year': 2023}
df = df._append(new_row, ignore_index=True)
df

  school  year
0     å°å¤§  1928
1     æ¸…å¤§  1925
2   é™½æ˜äº¤å¤§  2021
3     æˆå¤§  1931
4     æ–°æ ¡  2023
5     æ–°æ ¡  2023

---

### <mark>DF è®€å–csvæª”</mark>

In [ ]:
!pip install pandas

In [63]:
import pandas as pd

# ç”¨pd.read_csv()è®€å–æª”æ¡ˆ
data = pd.read_csv('./iris.csv')

In [64]:
# çœ‹ data æœ‰å¹¾åˆ—å¹¾è¡Œ
data.shape

(150, 6)

In [46]:
# é¡¯ç¤ºå‰å¹¾è¡Œæ•¸æ“š(é è¨­ç‚ºå‰5row)
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [65]:
data.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            NaN           3.1            1.5           0.1  Iris-setosa

In [66]:
# é¡¯ç¤ºå¾Œå¹¾è¡Œæ•¸æ“š(é è¨­ç‚ºå¾Œ5è¡Œ)
data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [48]:
# ç²å–è³‡æ–™çš„çµ±è¨ˆæ‘˜è¦
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     145.000000    150.000000     150.000000    150.000000
mean    75.500000       5.877931      3.054000       3.758667      1.198667
std     43.445368       0.817981      0.433594       1.764420      0.763161
min      1.000000       4.400000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [69]:
# é¡¯ç¤ºè³‡æ–™çš„ä¸€äº›è³‡è¨Š
data.info()
print(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [ ]:
'''
info()å‡½æ•¸å‘Šè¨´æˆ‘å€‘æ¯å€‹æ¬„ä½ä¸­æœ‰å¤šå°‘ non-nullï¼ˆéç©ºå€¼ï¼‰ï¼Œ
åœ¨æˆ‘å€‘çš„è³‡æ–™ä¸­ï¼Œä¸€å€‹ç›´æ¬„æœƒæœ‰ 150 rowsã€‚
è€Œ SepalLengthCm æ¬„åªæœ‰ 145 non-nullï¼Œè¡¨ç¤ºæœ‰ 5 å€‹ row æ˜¯ç©ºå€¼ã€‚
'''

---

### <mark>DF è³‡æ–™æ¸…ç†ï¼šç©ºå€¼</mark>

- ç©ºå€¼æœƒå½±éŸ¿æˆ‘å€‘çš„åˆ†æçµæœï¼Œæ‰€ä»¥è¦å…ˆè™•ç†ç©ºå€¼

- ä¸€ç¨®æ–¹æ³•æ˜¯ç›´æ¥åˆªé™¤`åŒ…å«ç©ºå€¼çš„row`ï¼Œå› ç‚ºè³‡æ–™å¯èƒ½éå¸¸å¤§ï¼Œåˆªé™¤ä¸€äº›åˆ—ä¸æœƒç”¢ç”Ÿå¾ˆå¤§å½±éŸ¿ã€‚
  
  `.dropna()`

In [56]:
import pandas as pd
data = pd.read_csv('./iris.csv')

# åŸå§‹è³‡æ–™çš„é•·åº¦ï¼ˆrowæ•¸é‡ï¼‰
len(data)

150

In [54]:
# ç”¨ .dropna() åˆªé™¤æœ‰ç©ºå€¼çš„ row
## .dropna() æœƒè¿”å›ä¸€å€‹æ–°çš„DFï¼Œä¸æœƒæ›´æ”¹åŸä¾†çš„DF
## æ‰€ä»¥è¦å®šç¾©ä¸€å€‹æ–°çš„è®Šæ•¸(new_df)ä¾†å­˜æ”¾

new_df = data.dropna()

In [55]:
# ç¢ºèªrowæ•¸é‡æ˜¯å¦æ¸›å°‘
len(new_df)

145

In [62]:
# å¦‚æœè¦æ›´æ”¹åŸä¾†çš„DFï¼Œå¯ä»¥åŠ ä¸Šåƒæ•¸ inplace = True
## é€™æ¨£å°±ä¸ç”¨å®šç¾©æ–°çš„è®Šæ•¸ä¾†å­˜æ”¾
## ä½†å°±ç„¡æ³•å›å¾©åŸä¾†çš„DFäº†ï¼ˆé™¤éé‡æ–°è®€å–æª”æ¡ˆï¼‰
data.dropna(inplace = True)
len(data)

145

- å¦ä¸€ç¨®è™•ç†ç©ºå€¼çš„æ–¹æ³•æ˜¯`å¡«å…¥æ–°çš„å€¼`ï¼Œä¾‹å¦‚å¡«å…¥0æˆ–å¹³å‡å€¼ï¼Œé€™æ¨£å°±ä¸å¿…åˆªé™¤æ•´å€‹row
  
  `fillna()`

In [67]:
import pandas as pd

data = pd.read_csv('./iris.csv')

data.fillna(0, inplace = True) 
len(data)

150

In [68]:
# æœ¬ä¾†æœ‰ç©ºå€¼çš„æ¬„ä½ï¼Œç¾åœ¨éƒ½è¢«å¡«ä¸Š 0 äº†ï¼Œä¹Ÿå°±éƒ½æœ‰ 150 å€‹å€¼äº†
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
# ä¸Šé¢çš„ç¯„ä¾‹æ›¿æ›äº†æ•´å€‹ data ä¸­çš„æ‰€æœ‰ç©ºç™½å„²å­˜æ ¼
# åªæƒ³æ›¿æ›æŸä¸€å€‹ç‰¹å®š column åº•ä¸‹çš„ç©ºç™½å€¼ï¼š
data['SepalLengthCm'].fillna(0, inplace = True)

- æ›¿æ›ç©ºç™½å„²å­˜æ ¼çš„å¸¸è¦‹æ–¹æ³•ï¼Œæ˜¯å¡«å…¥ column çš„å¹³å‡å€¼ã€ä¸­ä½æ•¸æˆ–çœ¾æ•¸ï¼Œè€Œä¸æ˜¯0
- ä½¿ç”¨ mean()ã€median() å’Œ mode() ä¾†è¨ˆç®—

In [ ]:
import pandas as pd
df = pd.read_csv('./iris.csv')

# è¨ˆç®— SepalLengthCm æ¬„çš„å¹³å‡å€¼ï¼Œä¸¦å­˜åˆ°è®Šæ•¸ x
x = df["SepalLengthCm"].max()

# ç”¨ x æ›¿æ› SepalLengthCm æ¬„çš„ç©ºç™½å€¼
df["SepalLengthCm"].fillna(x, inplace = True)