# 複習 Pandas

兩種主要數據結構

  - DataFrame是2維的資料結構
  
  - Series 就像一直欄/橫列，DataFrame 就像一整個試算表
  - <div><img src="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*6p6nF4_5XpHgcrYRrLYVAw.png" width="600"></div>

In [ ]:
!pip install pandas

In [2]:
import pandas as pd

In [3]:
# 用 dict 創造 DF
## 字典的 key 會變成欄位名稱，value 則是欄位的值

data = {
  'school': ["台大", "清大", "陽明交大","成大"],
  'year': [1928, 1925, 2021, 1931],
  'students': [30000, 20000, 10000, 40000]
}

df = pd.DataFrame(data)
df

  school  year  students
0     台大  1928     30000
1     清大  1925     20000
2   陽明交大  2021     10000
3     成大  1931     40000

In [47]:
# 存取一整個橫列 row 0
df.iloc[0]

# 存取一整個直欄 column 'school'
df['school']

school      台大
year      1928
Name: 0, dtype: object

# 今天的

In [ ]:
#!pip install pandas

In [43]:
# 用pd.read_csv()讀取檔案

import pandas as pd

df = pd.read_csv('./movie.csv', encoding='utf-8')

In [30]:
df.shape

(300, 5)

In [40]:
df.head()

,name_EN,name_TW,Date,Star,Comment
0,Iron Man,鋼鐵人,2017-01-24,5,看完三部才想起來沒紀錄。記得第一部最驚艷。小勞勃道尼人物形象豐滿，表現也很自然，除了劇情發展...
1,Lost In Thailand,迷失泰國,2012-12-17,3,這...豆瓣是水軍真多還是腦殘多，不是不好，但評分虛高了吧，相比第一部誠意還在，驚喜就只剩下...
2,Goodbye Mr. Loser,再見失敗者先生,2015-10-03,5,小品式的電影，很搞笑，電影院笑聲不斷。在歡愉後又告訴人一個很簡單的道理，珍惜眼前。
3,The Great Wall,長城,2016-12-25,3,馬達和景甜打小怪獸的故事，這又是何苦呢馬達。對於諜影的腦殘粉來說你走路的樣子和說話的表情都是...
4,Chronicles of the Ghostly Tribe,幽靈部落的編年史,2015-10-01,1,一星是因為覺得姚晨蠻好看的呢 口紅色號也不錯

<mark> df.iloc[] ➡️ Select row by row index </mark>

In [45]:
df.iloc[1]     # Select Row by row index

name_EN                                     Lost In Thailand
name_TW                                                 迷失泰國
Date                                              2012-12-17
Star                                                       3
Comment    這...豆瓣是水軍真多還是腦殘多，不是不好，但評分虛高了吧，相比第一部誠意還在，驚喜就只剩下...
Name: 1, dtype: object

In [46]:
df.iloc[:3]    # Select First 3 Rows

,name_EN,name_TW,Date,Star,Comment
0,Iron Man,鋼鐵人,2017-01-24,5,看完三部才想起來沒紀錄。記得第一部最驚艷。小勞勃道尼人物形象豐滿，表現也很自然，除了劇情發展...
1,Lost In Thailand,迷失泰國,2012-12-17,3,這...豆瓣是水軍真多還是腦殘多，不是不好，但評分虛高了吧，相比第一部誠意還在，驚喜就只剩下...
2,Goodbye Mr. Loser,再見失敗者先生,2015-10-03,5,小品式的電影，很搞笑，電影院笑聲不斷。在歡愉後又告訴人一個很簡單的道理，珍惜眼前。

In [48]:
df.iloc[-1:]   # Select Last Row

         name_EN name_TW        Date  Star                 Comment
299  The Mermaid     美人魚  2016-04-19     2  相當失望的電影。 。 。幾乎沒笑點。 。 。

In [49]:
df.iloc[-3:]   # Select Last 3 Row

,name_EN,name_TW,Date,Star,Comment
297,The Avengers,復仇者,2013-09-21,4,二週目才發現不少有趣的細節，值得二週目的片。
298,Zootopia,瘋狂動物城,2016-03-10,5,可能是看之前讀了太多劇透和分析，少了驚喜和興奮感，但也很開心是帶著了解的細節去看。可以開懷大...
299,The Mermaid,美人魚,2016-04-19,2,相當失望的電影。 。 。幾乎沒笑點。 。 。

<mark> df.loc[] ➡️ Select column by 欄位名 / 欄位index </mark>

In [ ]:
# Using loc[] to take column slices
df2 = df.loc[:, ["Courses","Fee","Duration"]] # Selecte multiple columns
df2 = df.loc[:, 'Fee':'Discount']             # Select columns between two columns

# Using iloc[] to select column by column index
df2 = df.iloc[:,[1,3,4]]  # Select columns by column index
df2 = df.iloc[:,1:4]      # Select between indexes 1 and 4 (2,3,4)
df2 = df.iloc[:,2:]       # Select From 3rd column to the last column
df2 = df.iloc[:,:2]       # Select First 2 columns